@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
a {
    text-decoration: none;
    list-style: none;
}

// Variables
$Color1: #0A6B76;
$Color2: #999511;
$Color3: #FDE8D6;
$Color4: #FFFFFF;
$Font1: 'Roboto',
sans-serif;

// Variables
$color1: #FFFFFF;
$color2: #FDE8D6;
$color3: #0A6B76;
$color4: #999511;
$color5: #074951;

// Fonts
.fontHuge {
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
}

.fontMedium {
    font-weight: 500;
    font-size: 24px;
}

.fontMediumTitle {
    font-weight: 900;
    font-size: 20px;
}

.fontsMall {
    font-weight: 400;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: $Font1;
    background-color: $color5;
    color: $color1;
}

// boton
.botonA {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    padding: 9px 32px;
    border: 3px dashed $Color3;
    border-radius: 8px;
    color: $Color3;
    transition: 0.3s all;
    &:hover {
        background-color: $Color3;
        color: $Color1;
    }
}

// ########## Header ##########

.encabezado {
    width: 100%;
    position: absolute;
    height: 94px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(10, 107, 118, 0) 0%, #0A6B76 100%);
}

.logo2 {display: none;}


nav {
    .hamMenu {display: none;}
    ul {
        margin-bottom: 0;
        display: flex;
    }

    ul li {
        margin-left: 24px;

        a {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $Color3;

            img {
                width: 24px;
                height: 24px;
                margin-bottom: 4px;
            }
        }
    }

    .navLi1 {
        width: 66px;
    }

    .navLi2 {
        width: 111px;
    }

    .navLi3 {
        width: 68px;
    }

    .navLi4,
    .navLi5 {
        width: 88px;
    }
}

.video {
    height: 512px;
    background-color: #d9d9d961;
    display: flex;
    justify-content: center;

    video {
        width: 100%;
        height: 512px;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }
}

// ########## Sect Servicios ##########
.fondoBlanco {
    background-color: $Color4;
}

.frase1 {
    width: 608px;
    color: $Color1;
    padding: 24px 0 40px 0;
    text-align: center;
    margin: 0 auto;
    @extend .fontMediumTitle;

    span {
        font-size: 24px;
        color: $Color2;
    }
}

.serviciosSect {
    padding-bottom: 80px;
}

.tituloServContPri {
    @extend .fontHuge;
    color: $Color2;
    width: 880px;
    margin: 0;
}

.serviciosCont {
    gap: 24px;

    .cuadradroChico {
        background-color: $Color1;
        box-shadow: 0px 4px 10px rgba(9, 168, 186, 0.3);
        border-radius: 16px;
        height: 438px;
    }
}

.cuadradroChico {
    width: 426px;

    p {
        padding-left: 30px;
        padding-right: 38px;
        margin-bottom: 24px;
    }

    .tituloCC {
        margin: auto;
        margin-top: 24px;
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 700;
        color: $Color3;
        text-align: center;
    }

    .tituloCC.cr2 {
        width: 80%;
    }

    .textoCC {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .precioCC {
        padding: 9px 30px;
        font-size: 20px;
        font-weight: 500;
        background-color: #ffffff25;

        span {
            font-size: 24px;
            color: $Color3;
        }
    }

    .precio2CC {
        font-size: 20px;
        font-weight: 500;
    }

    div {
        text-align: center;

        a {
            @extend .botonA;
        }
    }

    .sacM {
        margin-bottom: 12px;
    }

    .precioCC.m-0 {
        padding-bottom: 0;
        line-height: 28px;
    }
}

.cuadradroGrande {
    width: 880px;
    height: 285px;
    background: #0A6B76;
    box-shadow: 0px 4px 10px rgba(9, 168, 186, 0.3);
    border-radius: 16px;
    padding: 16px 36px;

    h3 {
        text-align: center;
        font-weight: 900;
        font-size: 20px;
        color: $Color3;
        margin-bottom: 20px;
    }

    ul {
        justify-content: space-around;

        div li {
            list-style: disc;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    .contContacto {
        text-align: center;
        margin-top: 24px;

        a {
            @extend .botonA;
        }
    }
}

// ############# Section - Proceso Legal #############
.ProLegal {
    background-color: $color1;
    color: $color3;
    padding-bottom: 40px;

    .contProLegal {
        margin: 0 auto;
        width: 900px;
    }

    .tituloPro {
        @extend .fontHuge;
        color: $color4;
        margin-bottom: 24px;
        padding-top: 40px;
    }

    .desPro {
        @extend .fontMedium;
        margin-bottom: 24px;
    }

    .imgPro {
        width: 888px;
        height: 206px;
        background-image: url(../multimedia/img/imgProLegal.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.procesoProlegal {
    display: flex;
    list-style: decimal;
    width: 100%;
    padding: 0;
    justify-content: space-between;

    li {
        margin-left: 12px;
        color: $color4;
        font-weight: 700;

        span {
            color: $color3;
        }
    }
}

.pasosProceso {
    width: 238px;
    @extend .fontsMall;

    p {
        margin-top: 10px;
        text-align: center;
        border: 3px dashed #0A6B76;
        border-radius: 16px;
        padding: 8px 14px;

        span {
            color: $color4;
            font-weight: 700;
        }
    }

    .esp {
        margin-bottom: 0;
        padding: 6px 10px;
    }
}

// ############# Section - Quiene Somos #############
.QuieneSomos {
    padding: 74px 46px;
    width: 900px;

    p {
        @extend .fontMedium;
        margin-bottom: 24px;
    }

    .tituloQuien {
        @extend .fontHuge;
        color: $color2;
    }

    img {
        width: 66px;
        height: 66px;
        margin-right: 48px;
    }

    a {
        @extend .botonA;
        padding: 16px 30px;
    }
}

// ############# Section - Nuestros Valores #############
.NuestrosValores {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;

    .tituloNV {
        @extend .fontHuge;
        color: $color2;
        text-align: center;
    }

    .d-flex {
        justify-content: space-between;
        gap: 24px;
        width: 900px;
    }
}

.valores {
    width: 280px;
    h3 {
        @extend .fontMedium;
        text-align: center;
    }

    .contValores {
        width: 280px;
        height: 320px;
        filter: blur(1px);
        border-radius: 16px;
        background-position: center;
        background-size: cover;
    }

    .textoV {
        position: absolute;
        margin-top: -176px;
        width: 280px;
        padding: 0 18px;
        @extend .fontsMall;

        span {
            font-weight: 700;
            color: $color2;
        }
    }
}

@for $i from 1 through 3 {
    .contValores#{$i} {
        background-image: linear-gradient(180deg, rgba(10, 107, 118, 0.25) 25.16%, #0A6B76 82.85%),
        url('../multimedia/img/valor#{$i}.png');
    }
}

// ############# Section - Refencias #############
.ReferenciasCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloRef {
    @extend .fontHuge;
    color: $color2;
    text-align: center;
}

.referencia {
    max-width: 740px;
    margin: 0;
    margin-bottom: 12px;
    padding: 12px 16px;
    border: 1px solid #FDE8D6;
    border-radius: 16px;

    .nombreRef {
        @extend .fontMedium;
    }

    .comRef {
        @extend .fontsMall;
    }
}

.linkRef {
    margin-top: 48px;
    text-align: center;

    a {
        @extend .botonA;
        padding: 16px 32px;
    }
}

// ############# Footer #############
footer {
    margin-top: 72px;
}

.barra {
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: $color4;
    margin-bottom: 70px;
}

.linksSociales {
    div {
        margin-right: 80px;

        .TipContacto {
            font-weight: 400;
            font-size: 26px;
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                margin-top: 24px;
                @extend .fontsMall;
                color: $color2;
                display: flex;

                a,
                p {
                    padding: 0;
                    margin: 0;
                    margin-left: 24px;
                    text-decoration: underline;
                    color: #FFFFFF;
                }

                img {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}

// ||||############# Pagina - Nuestro Equipo #############|||||
.TituloNE {
    @extend .fontHuge;
    color: $color2;
    padding-top: 120px;
    margin: 0 0 40px 11%;
}

.persEquipo {
    width: 80%;
    margin: auto;
    margin-bottom: 60px;

    img {
        width: 540px;
        height: 360px;
        filter: drop-shadow(0px 4px 15px #0A6B76);
        border-radius: 32px;
        margin-right: 30px;
    }

    div {
        .nombrePE {
            @extend .fontHuge;
            color: $color2;
            margin-bottom: 24px;
        }

        .especializacionPE {
            @extend .fontMedium;
            margin: 16px 0;
            line-height: 24px;
        }

        .descripcionPE {
            @extend .fontsMall;
            line-height: 20px;
        }
    }
}

.vueltaEquipo {
    flex-direction: row-reverse;

    img {
        margin: 0 0 0 30px;
    }
}

.especialNE {
    width: 100%;
    background-color: $color1;
    color: $color3;

    .persEquipo {
        margin-bottom: 0;
        padding: 60px 0;

        .nombrePE {
            color: $color3;
        }

        .descripcionPE {
            @extend .fontMediumTitle;
            font-weight: 400;
            line-height: 24px;
            margin: 24px 0;
        }
    }

    footer .linksSociales div ul li p,
    footer .linksSociales div ul li a {
        color: $color3;
    }
}

// ||||############# Pagina - Email #############|||||
.ContactoForm {
    padding-top: 122px;
    margin: 0 0 122px 278px;
    ul {list-style: initial;}
    input[type=text]:valid, input[type=tel]:valid, input[type=email]:valid {
        background-color: palegreen;
    }
    
    input[type=text]:invalid, input[type=tel]:invalid, input[type=email]:invalid  {
        background-color: lightpink;
    }
}

.tituloContForm {
    @extend .fontHuge;
    color: $color2;
}

.descContForm {
    @extend .fontMediumTitle;
    font-weight: 500;
    line-height: 32px;
    margin: 24px 0;
}

.formGroup {
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    .textBar {
        width: 543px;
        background-color: $color1;
        border-radius: 16px;
        height: 48px;
        padding-left: 23px;
        margin-right: 16px;
        display: flex;
        align-items: center;

        img {
            margin-right: 12px;
        }

        input {
            width: 90%;
            outline: none;
            border: none;
        }
    }

    label {
        @extend .fontMediumTitle;
        font-weight: 700;
        line-height: 28px;
        color: $color2;
    }
}

.formGroupText {
    margin-top: 24px;

    textarea {
        width: 543px;
        height: 398px;
        padding: 16px;
        border-radius: 16px;
        margin-right: 16px;
    }

    label {
        @extend .fontMediumTitle;
        font-weight: 700;
        color: $color2;
        margin-bottom: 24px;
    }

    ul {
        padding-left: 12px;
        width: 316px;
        @extend .fontMediumTitle;
        font-weight: 700;
        margin-bottom: 24px;
        line-height: 20px;

        li {
            margin-left: 24px;
            @extend .fontsMall;
        }
    }
}

.inpContFormSubmit {
    margin-left: calc(665px - 326px);
    @extend .botonA;
    margin-top: 24px;
    font-weight: 700;
    background-color: transparent;
    padding: 8px 16px;
}

// ||||############# Pagina - Comentarios #############|||||
.ReferenciasCont {
    padding-top: 120px;
}

.Comentarios {
    padding-top: 20px;
    padding-bottom: 60px;
}

.tituloComForm {
    @extend .fontMediumTitle;
}

.textoComentSug {
    width: 260px;
    @extend .fontsMall;
}

.adminSect {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.461);
    padding-top: 200px;

    form {
        padding: 20px;
        text-align: center;
        width: 330px;
        height: 260px;
        border-radius: 16px;
        background-color: $Color1;
        margin: auto;

        .tit {
            font-size: 24px;
            display: flex;
            justify-content: space-between;
        }

        .cerrar {
            cursor: pointer;
        }

        .ff {
            display: flex;
            flex-direction: column;
        }
    }
}

.disNone {
    display: none;
}

@media only screen and (min-width: 300px) and (max-width: 960px) {

    // ########## Header ##########
    .encabezado {
        height: 48px;
        background: $Color1;
        flex-direction: row-reverse;
    }

    nav ul,
    .logo {
        display: none;
    }

    .logo2, nav .hamMenu {
        display: block;
        cursor: pointer;
    }

    .disflex {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        background-color: $Color1;
        padding: 8% 2% 4% 2%;
        li {margin-left: 8px;}
        a {
            flex-direction: row;
            margin-bottom: 8px;
            img {margin-right: 8px;}
        }
        .navLi1, .navLi2, .navLi3, .navLi4,
        .navLi5 {width: fit-content;}
    }

    .video {
        height: 300px;
    }

    // ########## Sect Servicios ##########
    .serviciosSect {
        padding-bottom: 0px;
    }

    .frase1 {
        width: 298px;
        font-size: 12px;
        padding: 24px 0 20px 0;

        span {
            font-size: 16px;
        }
    }

    .tituloServContPri {
        width: 90%;
        font-size: 20px;
    }

    .serviciosCont {
        gap: 16px 0px;

        .cuadradroChico {
            height: 100%;
            width: 324px;
            padding-bottom: 5%;

            p {
                padding: 0 24px;
                margin-bottom: 16px;
            }

            .tituloCC {
                margin-top: 20px;
                margin-bottom: 12px;
                font-size: 16px;
            }

            .tituloCC.cr2 {
                line-height: 20px;
                margin-top: 16px;
                margin-bottom: 8px;
                font-size: 16px;
            }

            .textoCC {
                font-size: 12px;
                margin-bottom: 12px;
            }

            .precioCC {
                padding: 4px 24px;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 0px;

                span {
                    font-size: 20px;
                }
            }

            .precio2CC {
                font-size: 16px;
                background-color: #ffffff25;
            }

            div a {
                font-size: 16px;
                padding: 8px 16px;
            }

            .sacM {
                margin-bottom: 8px;
            }

            .precioCC.cm {
                margin-bottom: 16px;
            }
        }
    }

    .cuadradroGrande {
        height: 100%;
        width: 324px;
        padding-bottom: 5%;

        h3 {
            font-size: 16px;
            margin-bottom: 16px;
        }

        ul div li {
            font-size: 12px;
            min-width: 280px;
        }

        .contContacto a {
            font-size: 16px;
        }
    }

    // ############# Section - Proceso Legal #############
    .ProLegal {
        .contProLegal {
            width: 324px;
        }

        .tituloPro {
            font-size: 20px;
            margin-bottom: 16px;
            padding-top: 24px;
        }

        .desPro {
            font-size: 16px;
            margin-bottom: 16px;
        }

        .imgPro {
            background-image: url(../multimedia/img/proLegalCell.png);
            min-width: 74px;
            height: 388px;
        }
    }

    .contPasosProlegal {
        display: flex;
    }

    .procesoProlegal {
        flex-direction: column;

        li {
            margin-left: 14px;
        }
    }

    .pasosProceso {
        margin-bottom: 9px;
        font-size: 12px;

        p {
            margin: 6px 0 0 0;
            padding: 8px;
        }
    }

    // ############# Section - Quiene Somos #############
    .QuieneSomos {
        width: 312px;
        padding: 24px;

        p {
            font-size: 14px;
            margin-bottom: 12px;
        }

        .tituloQuien {
            font-size: 20px;
        }

        img {
            width: 66px;
            height: 66px;
            margin-right: 19.2px;
            margin-bottom: 12px;
        }

        .d-flex {
            flex-direction: column;
            text-align: center;
            align-items: center;

            a {
                font-size: 20px;
                padding: 8px 16px;
            }
        }
    }

    // ############# Section - Nuestros Valores #############
    .NuestrosValores {
        padding-bottom: 40px;

        .tituloNV {
            font-size: 20px;
        }
        .d-flex {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            width: 324px;
        }
    }

    .valores {
        width: 260px;
        h3 {
            font-size: 16px;
        }
        .contValores  {
            width: 260px;
            height: 260px;
        }
        .textoV  {
            width: 260px;
            font-size: 12px;
            margin-top: -120px;
        }
    }

    // ############# Section - Refencias #############
    .tituloRef {
        font-size: 20px;
    }
    .referencia {
        margin-bottom: 8px;
        padding: 8px 16px;
        p {margin-bottom: 8px;}
        .nombreRef {
            font-size: 16px;
        }
        .comRef {
            font-size: 12px;
        }
    }
    .linkRef {
        margin-top: 24px;
        a {
            font-size: 16px;
            padding: 8px 16px;
        }
    }

    // ############# Footer #############
    footer {
        margin-top: 32px;
    }

    .barra {
        width: 100%;
        margin-bottom: 30px;
    }
    .linksSociales {
        padding-left: 40px;
        flex-direction: column;
        div .TipContacto {
            font-size: 20px;
        }
        div ul li {
            font-size: 16px;
            margin-top: 12px;
        }
    }

    // ||||############# Pagina - Nuestro Equipo #############|||||
    .TituloNE {
        font-size: 20px;
        padding-top: 80px;
        margin: 0 0 24px 8%;
    }

    .persEquipo  {
        flex-direction: column;
        width: 88%;
        margin-bottom: 24px;
        img {
            width: 311px;
            height: 220px;
            margin: 0;
        }
        div {
            .nombrePE {
                font-size: 20px;
                margin-top: 12px;
                margin-bottom: 0;
            }
    
            .especializacionPE {
                font-size: 16px;
                margin: 12px 0;
                line-height: 24px;
            }
    
            .descripcionPE {
                font-size: 12px;
                margin-bottom: 8px;
            }
        }
    }

    .especialNE .persEquipo {
        padding: 24px 0;
        .nombrePE {
            margin-top: 18px;
        }
        .descripcionPE {
            font-size: 12px;
            margin: 2px 0;
        }
    }

    // ||||############# Pagina - Email #############|||||
    .ContactoForm {
        padding-top: 80px;
        margin: 0 auto;
        width: 312px;
    }

    .tituloContForm {
        font-size: 20px
    }
    
    .descContForm {
        font-size: 16px;
        margin: 16px 0 24px 0;
        line-height: 24px;
    }

    .formGroup {
        flex-direction: column-reverse;
        align-items: baseline;
        label { 
            font-size: 16px;
            margin-bottom: 8px;
        }
        .textBar {
            width: 100%;
        }
    }

    .formGroupText {
        flex-direction: column-reverse;
        label {
            font-size: 16px;
            margin-bottom: 12px;
        }
        textarea {
            width: 100%;
            height: 200px;
        }
        div div {
            display: flex;
            ul {
                font-size: 16px;
                li {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }

    }
     
    .inpContFormSubmit {
        margin: 18px 0 12px 25%;
        font-size: 16px;
    }

    // ||||############# Pagina - Comentarios #############|||||
    .ReferenciasCont {
        padding-top: 80px;
    }

    .Comentarios {
        padding-top: 20px;
        padding-bottom: 24px;
    }

    .tituloComForm {
        font-size: 16px;
    }
    
    .textoComentSug {
        width: 260px;
        font-size: 12px;
    }

    .ContactoForm .fontHuge {
        font-size: 16px;
        line-height: 24px;
    }
   
    .adminSect form .tit {font-size: 16px;}
}

@media only screen and (min-width: 540px) and (max-width: 960px) {

    // ########## Header ##########
    .encabezado {
        height: 48px;
    }

    // ########## Sect Servicios ##########
    .frase1 {
        width: 400px;
        font-size: 16px;
        span {
            font-size: 20px;
        }
    }

    .tituloServContPri {
        width: 76%;
        font-size: 24px;
    }

    .serviciosCont {
        gap: 20px 0px;

        .cuadradroChico {
            width: 424px;

            .tituloCC, .tituloCC.cr2, .precio2CC, div a, .precioCC {
                font-size: 20px;
            }

            .textoCC {
                font-size: 16px;
                margin-bottom: 16px;
            }

            .precioCC {
                padding: 8px 24px;
                span {
                    font-size: 24px;
                }
            }

            .sacM {
                margin-bottom: 12px;
            }
        }
    }

    .cuadradroGrande {
        width: 424px;
        h3 {
            font-size: 20px;
            margin-bottom: 16px;
        }
        ul div li {
            margin-left: 16px;
            font-size: 16px;
            min-width: 380px;
        }
        .contContacto a {
            font-size: 20px;
        }
    }

    // ############# Section - Proceso Legal #############
    .ProLegal {
        .contProLegal {
            width: 424px;
        }
        .tituloPro {
            font-size: 24px;
        }
        .desPro {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .imgPro {
            background-size: contain;
            min-width: 174px;
            height: 688px;
        }
    }
    .pasosProceso {
        margin-bottom: 12px;
        font-size: 16px;
        p {
            margin: 10px 0 0 0;
            padding: 12px;
        }
    }

    // ############# Section - Quiene Somos #############
    .QuieneSomos {
        width: 468px;
        p {
            font-size: 20px;
            margin-bottom: 16px;
        }
        .tituloQuien {font-size: 24px;}
        .d-flex {
            flex-direction: row;
            a {font-size: 24px;}
        }
    }

    // ############# Section - Nuestros Valores #############
    .NuestrosValores {
        .tituloNV {
            font-size: 24px;
        }
        .d-flex {
            gap: 20px;
            width: 428px;
        }
    }

    .valores {
        width: 360px;
        h3 {
            font-size: 20px;
        }
        .contValores  {
            width: 360px;
            height: 360px;
        }
        .textoV  {
            width: 360px;
            font-size: 16px;
            margin-top: -160px;
        }
    }

    // ############# Section - Refencias #############
    .tituloRef {
        font-size: 24px;
    }
    .referencia {
        .nombreRef {font-size: 20px;}
        .comRef {font-size: 16px;}
    }
    .linkRef a {font-size: 20px;}

    // ############# Footer #############
    .barra {
        width: 80%;
        margin-bottom: 38px;
    }
    .linksSociales {
        flex-direction: row;
        flex-wrap: wrap;
        div .TipContacto {
            font-size: 24px;
        }
        div ul li {
            font-size: 20px;
            margin-top: 16px;
        }
    }
    .linksSociales div {
        margin-right: 20px;
    }

    // ||||############# Pagina - Nuestro Equipo #############|||||
    .TituloNE {
        font-size: 24px;
    }
    .persEquipo  {
        width: 80%;
        margin-bottom: 28px;
        img {
            width: 461px;
            height: 320px;
        }
        div {
            .nombrePE {
                font-size: 24px;
                margin-top: 12px;
            }
            .especializacionPE {font-size: 20px;}
            .descripcionPE {font-size: 16px;}
        }
    }

    .especialNE .persEquipo {
        .nombrePE {margin-top: 22px;}
        .descripcionPE {
            font-size: 16px;
            margin: 4px 0;
        }
    }

    // ||||############# Pagina - Email #############|||||
    .ContactoForm {
        padding-top: 80px;
        width: 412px;
        .tituloContForm {
            font-size: 24px !important;
        }
    }
    .descContForm,
    .formGroup label {font-size: 20px;}
    .formGroupText {
        label {font-size: 20px;}
        textarea {
            width: 100%;
            height: 300px;
        }
        div div ul {
            font-size: 20px;
            li { font-size: 14px;}
        }
    }
    .inpContFormSubmit {
        margin: 18px 0 12px 27.5%;
        font-size: 20px;
    }

    // ||||############# Pagina - Comentarios #############|||||
    .tituloComForm, .ContactoForm .fontHuge {font-size: 20px}
    .textoComentSug {
        width: 360px;
        font-size: 16px;
    }
    .adminSect form .tit {font-size: 16px;}
}